.theos/
packages/
*.ipa
!Releases/NineHA-0.7.7-armv7.ipa
!Releases/NineHA-0.7.8-armv7.ipa
*.backup*
*.bak*
*.pre*
*.before-*
.DS_Store
*.mobileprovision
*.p12
*.cer
*.key
*.pem
.env
Sources/NineLocalConfig.user.h
