Package: org.nineha.client
Name: NineHA
Version: 0.7.8
Architecture: iphoneos-arm
Maintainer: NineHA Contributors
Author: NineHA Contributors
Section: Applications
Description: Native iOS 9 application - NineHA
