<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>NineHA</string>
	<key>CFBundleExecutable</key>
	<string>NineHA</string>
	<key>CFBundleIdentifier</key>
	<string>org.nineha.client</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-60@2x.png</string>
		<string>Icon-60@3x.png</string>
		<string>Icon-72.png</string>
		<string>Icon-72@2x.png</string>
		<string>Icon-76.png</string>
		<string>Icon-76@2x.png</string>
		<string>Icon-83.5@2x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
		<string>Icon-Small@3x.png</string>
		<string>Icon-Small-40.png</string>
		<string>Icon-Small-40@2x.png</string>
		<string>Icon-Small-40@3x.png</string>
		<string>Icon-50.png</string>
		<string>Icon-50@2x.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-60</string>
				<string>Icon-Small-40</string>
				<string>Icon-Small</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-76</string>
				<string>Icon-83.5</string>
				<string>Icon-Small-40</string>
				<string>Icon-50</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleName</key>
	<string>NineHA</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.7.7</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>org.nineha.client.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nineha</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>46</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
</dict>
</plist>
